body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-family: "Oswald", sans-serif;
}

h2 {
    font-family: "Open Sans", sans-serif;
}
h3 {
    font-family: "Oswald", sans-serif;
}

.header {
    text-align: center;
    background-image: url(../img/bg_hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 30rem;
}
.underlined_text {
    border-top: solid 2px #ffffff;
    display: inline;
    padding-bottom: 10px;
}

.bg-purple {
    background-color: #660066;
    color: #ffffff;
}

.font-purple {
    color: #660066;
}
